<p>search-bar works!</p>
<input type="text" name="searchWord" (input)="updateData($event)">
<input type="button" value="TEST" (click)="chercherDef()">
<div *ngIf = "ShowDefGenerale === true">
    <h3 >Definition générale : {{definition}}</h3>
</div>

<div *ngIf = "ShowRaffinements === true">
  <h2 >Raffinements Sémantiques</h2>
  <div  *ngFor="let def of RaffArray" >
    <button  (click)="showDef(def)">{{def.formatedRaf}} </button>
      <p *ngIf="def.show===true">{{def.definition}}</p>
  </div>
</div>
<div *ngIf = "ShowTypeRelations === true">
<h2 >Types de relations où on choisis les relations (A faire) </h2>
  <div  *ngFor="let type of RelTypeArray" >
    <button  (click)="showType(type)">{{type.name}} </button>
      <p *ngIf="type.clicked===true">{{type.description}}</p>
  </div>
</div>