<p>search-bar works!</p>
<input type="text" name="searchWord" (input)="updateData($event)">
<input type="button" value="TEST" (click)="chercherDef()">
<div *ngIf = "ShowDefGenerale === true">
    <h3 >Definition générale : {{definition}}</h3>
</div>

<div *ngIf = "ShowRaffinements === true">
  <h2 >Raffinements Sémantiques</h2>
  <div  *ngFor="let def of RaffArray" >
    <button  (click)="showDef(def)">{{def.formatedRaf}} </button>
      <p *ngIf="def.show===true">{{def.definition}}</p>
  </div>
</div>



<div *ngIf = "ShowTypeRelations === true">
<p (click)="printRelationType()">Types de relations où on choisis les relations (A faire)</p>
<div *ngIf="reltype===true">
<form>
  <ng-container *ngFor="let type of RelTypeArray" >
    <input type="checkbox" (change)="listerRelation(type.name)">{{type.name}}
  </ng-container>
</form>


</div>
</div>